
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

span{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  position: relative;
  z-index: 3;
}

h2{
color: black;
}

del{
color: lightcoral;
}

a {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: center;
    position: relative; 
}
.section2{
   background-color: white;
}
.center button {
  position: absolute;
  top: 50%;
  left: 45%;
  z-index: 4;
}

button {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin-bottom: 20px;
}

button:hover {
  background-color: #23c483;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

button:active {
  transform: translateY(-1px);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  position: relative;
  z-index: 2;
}

  .back-shapes {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    z-index: 0;
  }
  
  .back-shapes img {
    opacity: 0.2;
    position: absolute;
    width: 1.5%;
    z-index: 0;
  }
  
  .floating {
    position: absolute;
    animation-name: floating;
    -webkit-animation-name: floating;
    animation-duration: 5s;
    -webkit-animation-duration: 5s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    z-index: 0;
  }
  .floating.circle {
    display: inline-block;
    width: 120px;
    height: 50px;
    background-image: url("image/pc4.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.5;
  }
  .floating.square {
    display: inline-block;
    width: 120px;
    height: 50px;
    background-image: url("image/pc3.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.5;
  }
  .floating.triangle {
    display: inline-block;
    width: 120px;
    height: 50px;
    background-image: url("image/pc2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.5;
  }
  .floating.cross {
    display: inline-block;
    width: 120px;
    height: 50px;
    background-image: url("image/pc1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.5;
  }
  
  @keyframes floating {
    0% {
      transform: translateY(0%) rotate(-55deg);
    }
    50% {
      transform: translateY(300%) rotate(55deg);
    }
    100% {
      transform: translateY(0%) rotate(-55deg);
    }
  }
  @-webkit-keyframes floating {
    0% {
      -webkit-transform: translateY(0%);
    }
    50% {
      -webkit-transform: translateY(300%);
    }
    100% {
      -webkit-transform: translateY(0%);
    }
  }

  .section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#section1 {
    background: linear-gradient(209deg, #3cc3a0, #a621e3);
    background-size: 400% 400%;
    
    -webkit-animation: section1anim 27s ease infinite;
    -moz-animation: section1anim 27s ease infinite;
    animation: section1anim 27s ease infinite;

    background-size: auto;
    z-index: 1;
}

#section2 {
    background: linear-gradient(209deg, #a621e3, #3cc3a0);
    background-size: auto;
    z-index: 2;
}

#wojak {
  width: 100%; 
  height: 100%;
  top: 10%;
  opacity: 1;
  position: relative;
  overflow: hidden;
  z-index: 3;
}

#logo{
  width: 10%; 
  height: 5%;
  opacity: 1;
  position: relative;
  overflow: hidden;
  z-index: 3;
}

#toPc {
  scroll-behavior: smooth;
}

.center-card {
  margin: 25px auto;
  display: flex;
  justify-content: space-between;
}


.flip-card {
  background-color: transparent;
  width: 390px;
  height: 554px;
  perspective: 1000px;
  font-family: sans-serif;
}

.title {
  font-size: 1.5em;
  font-weight: 900;
  text-align: center;
  margin: 0;
  filter: blur(0%);
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid coral;
  border-radius: 1rem;
}

.flip-card-front {
    background-size: cover;
}

.flip-card-front {
  background-size: cover;
}

.flip-card-back {
  background-size: cover;
  backdrop-filter: blur(5px);
  transform: rotateY(180deg);
}

.flip-card-image{
  background-size: cover;
  backdrop-filter: blur(5px);
}

.flip-card-back img {
  max-width: 45px;
  display: block;
  margin: 0 auto;
}

.flip-card-back p {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
